<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="regression_tests" >
    <test name="end-end scenario">
        <classes>
            <class name="TestSuite.BoardTests.CreateBoard">
                <methods>
                    <include name="createBoard"/>
                    <include name="getCardsOnNewBoard"/>
                </methods>
            </class>
            <class name="TestSuite.BoardTests.GetBoard">
                <methods>
                    <include name="getBoard"/>
                </methods>
            </class>
            <class name="TestSuite.BoardTests.GetListsOnBoard">
                <methods>
                    <include name="getListsOnBoard"/>
                </methods>
            </class>
            <class name="TestSuite.BoardTests.GetCardsOnBoard">
                <methods>
                    <include name="getCardsOnBoard"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.CreateList">
                <methods>
                    <include name="createList"/>
                </methods>
            </class>
            <class name="TestSuite.CardTests.CreateAndUpdateCard">
                <methods>
                    <include name="createAndUpdateCard"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.GetCardsOnList">
                <methods>
                    <include name="getCardsOnList"/>
                </methods>
            </class>
            <class name="TestSuite.CardTests.CreateAttachmentOnCard">
                <methods>
                    <include name="createAttachmentOnCard"/>
                    <include name="createAttachmentMP4Cover"/>
                    <include name="createAttachmentPDFCover"/>
                    <include name="createAttachmentJPGCover"/>
                    <include name="createAttachmentGIFCover"/>
                </methods>
            </class>
            <class name="TestSuite.CardTests.GetAttachmentOnCard">
            <methods>
                <include name="getAttachment"/>
            </methods>
            </class>
            <class name="TestSuite.CardTests.DeleteAttachmentOnCard">
                <methods>
                    <include name="deleteAttachment"/>
                    <include name="getAttachmentAfterDelete"/>
                </methods>
            </class>
            <class name="TestSuite.CardTests.GetCard">
                <methods>
                    <include name="getCard"/>
                </methods>
            </class>
            <class name="TestSuite.CardTests.DeleteCard">
                <methods>
                    <include name="deleteCard"/>
                    <include name="getCardAfterDelete"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.ArchiveList">
                <methods>
                    <include name="archiveList"/>
                    <include name="unarchiveList"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.DeleteList">
                <methods>
                    <include name="deleteList"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.GetList">
                <methods>
                    <include name="getList"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.GetBoardOfList">
                <methods>
                    <include name="getBoardOfList"/>
                </methods>
            </class>
            <class name="TestSuite.ListTests.UpdateList">
                <methods>
                    <include name="updateList"/>
                </methods>
            </class>
            <class name="TestSuite.BoardTests.DeleteBoard">
                <methods>
                    <include name="deleteBoard"/>
                    <include name="getBoardAfterDelete"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>